/* Estilo Geral */
@import url(./vars.css);
@import url(./reset.css);

body {
  border: 1rem solid var(--bg-border-color);
  min-height: 100vh; /* Ocupa a altura total da viewport */
  font-family: "Asket", sans-serif;
}

/* Menu de Navegação */
.menu {
  bottom: 0;
  background-color: white;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  border-top: 4px solid #ff0000; /* Opcional: borda superior no menu */
}

.menu ul {
  list-style: none;
  text-align: center;
  background-color: #f2f2f2;
  padding: 15px;
}

.menu ul li {
  display: inline;
  margin: 0 15px;
  position: relative; /* Necessário para a barra vertical */
}

.menu ul li:not(:last-child)::after {
  content: "|"; /* Barra vertical como divisão */
  position: absolute;
  right: -15px; /* Ajuste para posicionar a barra */
  color: #333; /* Cor da barra */
}

.menu ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.menu ul li a:hover {
  color: #ff0000;
}

/* Estilos para o menu lateral */
.side-menu {
  position: fixed;
  top: 0;
  left: -250px; /* Oculto inicialmente */
  width: 250px;
  height: 100%;
  background-color: #333;
  color: white;
  transition: left 0.3s ease;
  padding: 20px;
  z-index: 1000; /* Para garantir que o menu fique acima de outros elementos */
}

.side-menu ul {
  list-style-type: none;
  padding: 0;
}

.side-menu ul li {
  margin: 15px 0;
}

.side-menu ul li a {
  color: white;
  text-decoration: none;
}

.side-menu ul li a:hover {
  color: #ff0000;
}

.menu-toggle {
  display: none; /* Ocultar o botão em telas grandes */
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: transparent; /* Fundo transparente */
  color: #333;
  border: none;
  font-size: 24px; /* Tamanho da fonte do ícone */
  cursor: pointer;
  z-index: 1001; /* Para garantir que o botão fique acima de outros elementos */
}

/* Responsividade */
@media (max-width: 768px) {
  .fotos-local {
    flex-direction: column;
    gap: 20px;
  }

  .fotos-local img {
    width: 100%;
  }

  .menu {
    display: none; /* Ocultar o menu de navegação padrão em telas pequenas */
  }

  .menu-toggle {
    display: block; /* Mostrar o botão em telas pequenas */
  }

  .side-menu {
    left: -250px; /* Inicialmente oculto */
  }
}
