/* Estilo Geral */
@import url(./vars.css);
@import url(./reset.css);

body {
  border: 1rem solid var(--bg-border-color);
  height: 100vh; /* Ocupa a altura total da viewport */
  font-family: "Asket", sans-serif;
}

/* Menu de Navegação */
.menu {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  /*border-top: px solid #ccc; Opcional: borda superior no menu */
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

.menu ul {
  list-style: none;
  text-align: center;
  background-color: #f2f2f2;
  padding: 1rem;
}

.menu ul li {
  position: relative; /* Necessário para a barra vertical */
  margin: 0 1rem;
  display: inline;
}

.menu ul li:not(:last-child)::after {
  content: "|"; /* Barra vertical como divisão */
  position: absolute;
  right: -1rem; /* Ajuste para posicionar a barra */
  color: #333; /* Cor da barra */
}

.menu ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.menu ul li a:hover {
  color: #ff0000;
}

/* Responsividade */

@media (width < 1500px) {
  /* Menu colapsável */
  .menu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  
  .menu ul {
    width: 100%;
  }
}

@media (width < 900px) {
  /* Menu colapsável */
  .fotos-local {
    width: 80%;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;

  }
  
  .fotos-local img {
    width: 100%;
    margin-bottom: 1rem;
  }
}
