@import url(../global.css);

.wrapper {
  width: 100%;
  max-width: 100vw;
  height: 100vh;
  padding: 1rem;
  /* overflow: auto; */
}

/* Fachada do Comércio */
.fachada img {
  width: 100%;
  height: 15rem;
  margin-bottom: 20px;
}

/* História do Comércio */
.historia p {
  width: 100%;
  font-size: 1.7rem;
  margin-bottom: 1rem;
}

/* Fotos do Local */
.fotos-local {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 20px;
}

.fotos-local img {
  width: 32%;
  height: auto;
  border-radius: 5px;
}