@import url(../global.css);


.historia {
  font-family: Arial;
  margin-left: 5px;
  margin-right: 10px;
  text-align: justify;

}

/* Fachada do Comércio */
.fachada img {
  width: 95%;
  height: auto;
  margin-bottom: 0px;
  margin-left: 2%;
  margin-right: 2%;
}

/* História do Comércio */
.historia img {
  margin-top: 5%;
  width: 100%;
  height: auto;
  margin-bottom: 5%;
  margin-left: 5px;
}

/* Fotos do Local */
.fotos-local {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 20px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5px;
}

.fotos-local img {
  width: 25%;
  height: auto;
  border-radius: 5px;
}